.game-board {
    background-color: red;
    width:75px;
    height:50px;
    margin:5px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: beige;
}